{% extends "core/base.html" %}

{% block header %}
<div class="nav-left">
    <h1><a href="{% url 'home' %}">Games</a></h1>
</div>
{% if user.is_authenticated %}
    <div class="nav-right">
    <a href="{% url 'gameCreate' %}">+ Create new game</a>
    </div>
{% endif %}
{% endblock header %}

{% block content %}
{% for game in game_list %}
<div class="gameEntry">
    <h2><a href="{{ game.get_absolute_url }}">{{ game.title }} ({{ game.name }})</a></h2>
    <p>{{ game.summary }}</p>
</div>
{% endfor %}
{% endblock content %}
