{% extends "allauth/layouts/base.html" %}

{% load crispy_forms_tags %}
{% load jrtemplatetags %}

{% block title %}Game Files{% endblock title %}


{% block content %}
<h1>Game File List for "<a href="{{ game.get_absolute_url }}">{{game.name}}</a>"</h1>

<ul class="gameFileList">
{% for gamefile in gamefile_list %}
    <li class="gameFileEntry">
        <a href="{{ gamefile.get_absolute_url }}">{{ gamefile.filefield.name | justfilename }}</a>

        {% if gamefile.note %}
         &nbsp;({{ gamefile.note }})
        {% endif %}

        {% if gamefile.filefield.url|isImageFilePath %}
            <br/>
                <a href="{{ gamefile.filefield.url }}" data-toggle="lightbox">
                    <img src="{{ gamefile.filefield.url }}" class="imgThumbnailSized"/>
                </a>
        {% endif %}
    </li>
{% endfor %}
</ul>

<hr/>
<div>
    <a href="{% url 'gameFileCreate' game.pk %}">Add new file to game</a>
</div>


{% endblock content %}
