{% extends "allauth/layouts/base.html" %}

{% load crispy_forms_tags %}
{% block title %}Edit Game{% endblock title %}


{% block content %}

<h1>Edit Game "<a href="{% url 'gameDetail' game.slug %}">{{ game.title }}</a>"</h1>

<div class="gameEntry">
    <p><b>Title:</b> {{ game.title }}</p>
    <p><b>Owner:</b> {{ game.owner }}</p>
    <p><b>Summary:</b> {{ game.summary }}</p>
</div>


<form action=""" method="post"> {% csrf_token %}
    {{ form|crispy }}
    <a href="{% url 'gameFileList' game.slug %}" class="btn btn-info" role="button">Manage attached files ({{ gameFileListCount }})</a>
    <br/>
    <a href="{% url 'gameDetail' game.slug %}" class="btn btn-primary" role="button">Cancel</a>
    <input class="btn btn-success" type="submit" value="Update">
</form>
{% endblock content %}
