{% extends "core/base.html" %}

{% load crispy_forms_tags %}
{% block title %}Game List{% endblock title %}


{% block content %}
<h1>Game List</h1>

{% for game in game_list %}
<div class="gameEntry">
    <h3><a href="{{ game.get_absolute_url }}">{{ game.title }} ({{ game.name }})</a></h3>
    <p>{{ game.summary }}</p>
</div>
{% endfor %}

{% if user.is_authenticated %}
    <hr/>
    <div>
        <a href="{% url 'gameCreate' %}">Create new game</a>
    </div>
{% endif %}

{% endblock content %}
