{% extends "allauth/layouts/base.html" %}

{% load crispy_forms_tags %}
{% block title %}Publish Game{% endblock title %}

{% block content %}
<div class="gameEntry">
    <h2>Publish Game "{{ game.title }} ({{ game.name }})"</h2>
    <p>{{ game.summary }}</p>
</div>

<form method="post"> {% csrf_token %}
    {{ form|crispy }}

<div>
  <div><input class="btn btn-success" type="submit" name="publish" value="Publish the current Storybook PDF Set as the new Official Release"></div>
  <div><a href="{% url 'gameDetail' game.pk %}" class="btn btn-primary" role="button">Return to Game Page</a> <a href="{% url 'gameEdit' game.pk %}" class="btn btn-primary" role="button">Edit game's preferred format</a></div>
</div>
    
    
    
  </form>



{% endblock content %}
