{% extends "allauth/layouts/base.html" %}

{% load crispy_forms_tags %}
{% load jrtemplatetags %}
{% load gametemplatetags %}

{% block title %}Game List{% endblock title %}


{% block content %}
<h1>Game List</h1>


<ul>
{% for game in game_list %}
    <li class="gameEntry">
        <a href="{{ game.get_absolute_url }}">{{ game.title }} ({{ game.name }})</a>
        <p>
            <b>Summary:</b> {{ game.summary }}<br/>
            <b>Owner:</b> {{ game.owner }}<br/>
            <b>Public:</b> {{ game.isPublic }}<br/>
            <b>Lead stats:</b> {{ game.leadStats }}<br/>
            <b>Published:</b> {% gamePublishInfoString game %}<br/>
        </p>
    </li>
{% endfor %}
</ul>


{% if user.is_authenticated %}
    <hr/>
    <div>
        <a href="{% url 'gameCreate' %}" class="btn btn-secondary" role="button">Create new game</a>
    </div>
{% endif %}

{% endblock content %}
