{% extends "allauth/layouts/base.html" %}

{% load crispy_forms_tags %}
{% load jrtemplatetags %}

{% block title %}Game File Details{% endblock title %}

{% block content %}
<div class="gameFileEntry">
    <h2><a href="{% url 'gameFileList' game.pk %}">{{ game.title }} ({{ game.name }})</a></h2>

    <p>FILE: {{ gamefile.filefield.name }}</p>
    <p>{{ gamefile.note }}</p>

    {% if gamefile.filefield.url|isImageFilePath %}
        <p>
            <a href="{{ gamefile.filefield.url }}" data-toggle="lightbox">
                <img src="{{ gamefile.filefield.url }}" class="imgReasonableSized"/>
            </a>
        </p>
    {% else %}
        <p><a href="{{ gamefile.filefield.url }}" target="_blank">Open file in new tab</a></p>
    {% endif %}

    <a href="{% url 'gameFileEdit' gamefile.pk %}" class="btn btn-secondary" role="button">Edit</a>
    <a href="{% url 'gameFileDelete' gamefile.pk %}" class="btn btn-info" role="button">Delete</a>
</div>

{% endblock content %}
