{% if "noInfo" not in options %}
    {% autoescape off %}
    {{ buildResultsHtml }}
    {% endautoescape %}
{% endif %}

<h3>Files:</h3>
<ul>
    {% for fileEntry in fileList %}
        <li class="fileEntry">
            <a href="{{ fileEntry.url }}" target="_blank">{{ fileEntry.name }}</a> ({{ fileEntry.fileSizeNiceStr }})
            {% if "showDate" in options %}
                - {{ fileEntry.fileDateString }}
            {% endif %}
        </li>
    {% endfor %}

    {% if fileList|length == 0 %}
        <div>None.</div>
    {% endif %}

</ul>
<hr/>
