{% extends "allauth/layouts/base.html" %}

{% load crispy_forms_tags %}
{% block title %}Edit Profile for {{customuser.username}}{% endblock title %}

{% block content %}
<h2>Edit Profile for {{customuser.username}}</h2>
<form method="post"> {% csrf_token %}
  {{ form|crispy }}
  <a href="{% url 'accountProfile' %}" class="btn btn-primary" role="button">Cancel</a>
  <input class="btn btn-success" type="submit" value="Update">
</form>
<hr/>
OR:
{% include "allauth/layouts/accountChangeLinks.html" %} 
{% endblock content %}
