{% extends "allauth/layouts/base.html" %}

{% load crispy_forms_tags %}
{% load gametemplatetags %}
{% block title %}Profile for {{customuser.username}} {% endblock title %}

{% block content %}
<h2>Profile for {{customuser.username}}</h2>

<ul>
  <li><strong>Username</strong>: {{customuser.username}}</li>
  <li><strong>First name</strong>: {{customuser.first_name | naifblank}}</li>
  <li><strong>Last name</strong>: {{customuser.last_name | naifblank}}</li>

  {% if user.is_authenticated %}
    {% if customuser.pk == user.pk %}
      <li><strong>Email</strong>: {{customuser.email}}</li>
    {% endif %}
  {% endif %}

  <li><strong>BGG Link</strong>: {{customuser.bgglink | naifblank}}</li>
</ul>


{% if user.is_authenticated %}
  {% if customuser.pk == user.pk %}
    &nbsp; <a href="{% url 'accountEditProfile' customuser.pk %}" class="btn btn-primary" role="button">Edit Profile</a>
    <br/>
    <hr/>
  {% endif %}
  {% userGameList customuser.pk user %}
{% endif %}


{% if user.is_authenticated %}
  {% if customuser.pk == user.pk %}
    <hr/>
    {% include "allauth/layouts/accountChangeLinks.html" %}
  {% endif %}
{% endif %}

{% endblock content %}
