{% extends "allauth/layouts/base.html" %}

{% load crispy_forms_tags %}
{% load gametemplatetags %}
{% block title %}Profile for {{customuser.username}} {% endblock title %}

{% block content %}
<h2>Profile for {{customuser.username}}</h2>

<ul>
  <li><strong>Username</strong>: {{customuser.username}}</li>
  <li><strong>First name</strong>: {{customuser.first_name | naifblank}}</li>
  <li><strong>Last name</strong>: {{customuser.last_name | naifblank}}</li>

  {% if user.is_authenticated %}
    {% if customuser.pk == user.pk or viewingUserHasGadamin %}
      <li><strong>Email</strong>: {{customuser.email}}</li>
    {% endif %}
  {% endif %}

  {% if userGroupString %}
  <li><strong>Groups</strong>: {{userGroupString}}</li>
  {% else %}
  <li><strong>Groups</strong>: None</li>
  {% endif %}

  {% if userBggUrl %}
  <li><strong>BGG Link</strong>: <a href="{{ userBggUrl|escape }}" target="_blank" rel="noopener noreferrer">{{userBggUrl}}</a></li>
  {% endif %}

  {% if user.webpage %}
  <li><strong>Home page</strong>: <a href="{{ user.webpage|jrwrapurl|escape }}" target="_blank" rel="noopener noreferrer">{{user.webpage}}</a></li>
  {% endif %}

  {% if user.last_login %}
  <li><strong>Last login</strong>: {{ user.last_login|date:"F j, Y, g:i a" }}</li>
  {% endif %}

</ul>




{% if user.is_authenticated %}
  {% if customuser.pk == user.pk %}
    &nbsp; <a href="{% url 'accountEditProfile' customuser.pk %}" class="btn btn-primary" role="button">Edit Profile</a>
    <br/>
    <hr/>
  {% endif %}
  {% userGameList customuser.pk user %}
{% endif %}


{% if user.is_authenticated %}
  {% if customuser.pk == user.pk %}
    <hr/>
    {% include "allauth/layouts/accountChangeLinks.html" %}
  {% endif %}
{% endif %}

{% endblock content %}
