{% extends "allauth/layouts/base.html" %}

{% load crispy_forms_tags %}
{% block title %}Delete Game File{% endblock title %}


{% block content %}
<h1>Delete Game File</h1>
<div class="gameFileEntry">
    <h2><a href="{% url 'gameFileList' game.slug %}"></a>{{ game.title }} ({{ game.name }})</a></h2>
    <p>FILE: {{ gamefile.filefield.path }}</p>
    <p>{{ gamefile.note }}</p>
</div>

<form action="" method="post"> {% csrf_token %}
    <p>Are you sure you want to delete this attached game file?</p>
    <a href="{% url 'gameFileDetail' gamefile.pk %}" class="btn btn-primary" role="button">Cancel</a>
    <input class="btn btn-danger" type="submit" value="Confirm">
</form>
<br/>
<p>
    <a href="{{ gamefile.filefield.url }}" data-toggle="lightbox">
        <img src="{{ gamefile.filefield.url }}" class="imgReasonableSized"/>
    </a>
</p>

{% endblock content %}
