{% extends "allauth/layouts/base.html" %}

{% load crispy_forms_tags %}
{% block title %}Upload File(s) for Game{% endblock title %}

{% block content %}
<h1>Upload File(s) for Game "<a href="{% url 'gameFileList' game.slug %}">{{game.name}}</a>"</h1>
<div>Note: You can drag and drop multiple files at once onto the input below.</div>
<form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
    {{ form|crispy }}
    <a href="{% url 'gameFileList' game.slug %}" class="btn btn-danger" role="button">Cancel</a>
    <input class="btn btn-success" type="submit" value="Save">
</form>
{% endblock content %}
